body{
    background-color: #d5d5ff;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
text{
    font-size: 15px;
}
button{
    margin:center;
    width: 100px;
    height: 25px;
    font-size:15px;
}
.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    opacity:0.5;
  }
.modal {
    z-index: 1; /* Sit on top */
    padding:left;
    width: 200px; /* Full width */
    height: 300px; /* Full height */
    background-color: #ffe4c4;
}
#team_graph{
    right:0;
}
.show_poke{
    display:flex;
    border: 1px solid red;
}
.hidden_text{
    display:none;
}
.story{
    display:none;
}
#leg_graph{
    display:flex;
}
#pb_legend{
    padding:200px 100px 100px 100px;
}
.info_pokemon{
    padding:100px 100px 100px 300px;
}



